<div class="col-md-4 footer-column js-footer-column">
    <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
         data-target="#collapseFooterHotline"
         aria-expanded="true"
         aria-controls="collapseFooterHotline">
        {{ 'aj_shop_finder.footerTitle' | trans }}
        <div class="footer-column-toggle">
            <span class="footer-plus-icon">
                {% sw_icon 'plus' style { 'pack': 'feather' } %}
            </span>
            <span class="footer-minus-icon">
                {% sw_icon 'minus' style { 'pack': 'feather' } %}
            </span>
        </div>
    </div>
    <div id="collapseFooterHotline"
         class="footer-column-content collapse js-footer-column-content footer-contact"
         aria-labelledby="headingOne">
        <ul class="aj-shops-list">
            {% for shop in aj_shop_finder.elements %}
                <li><a href="#" data-toggle="modal" data-target="#shop-{{ shop.id }}">{{ shop.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% for shop in aj_shop_finder.elements %}
    <div class="modal" tabindex="-1" role="dialog" aria-modal="true" id="shop-{{ shop.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"><h4>{{ shop.name }}</h4></div>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ shop.name }}<br/>
                        {{ shop.street }}<br/>
                        {{ shop.postCode }} {{ shop.city }}<br/>
                        {{ shop.country.name }}<br/>
                        {% if shop.telephone %}
                            {{ 'aj_shop_finder.phone' | trans }}.: {{ shop.telephone }}<br/>
                        {% endif %}
                        {% if shop.url %}
                            {{ 'aj_shop_finder.homepage' | trans }}: {{ shop.url }}<br/>
                        {% endif %}
                    </p>
                    {% if shop.openTimes %}
                        <p>
                            {{ 'aj_shop_finder.openTimes' | trans }}: <br>
                            {{ shop.openTimes }}<br/>
                        </p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                            data-dismiss="modal">{{ 'aj_shop_finder.closeBtn' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

