{% block email_template %}
    <p>Hello! {{ data.salutation }} {{ data.firstName }} {{ data.lastName }},<br/><br/>
        following voucher(s) was/were activated:</p>
    <table>
        <thead>
        <tr>
            <td><strong>Voucher</strong></td>
            <td><strong>Code</strong></td>
            <td><strong>Value</strong></td>
        </tr>
        </thead>
        <tbody>
        {% for voucher in data.vouchers %}
            <tr>
                <td>{{ voucher.title }}</td>
                <td>{{ voucher.code }}</td>
                <td>{{ (voucher.value * voucher.currencyFactor) | number_format(voucher.currency.decimalPrecision) }} {{ voucher.currency.symbol }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
